body
{
  font-family: 'roboto mono', monospace;

  background-color: #111;
}

#display,
#result,
#generation
{
  font-size: 30pt;

  margin-left: 5%;

  color: #fff;
}

.information
{
  margin-right: -3%;
  margin-left: 5%;

  color: white;
}

#cache
{
  display: inline-block;
  overflow-y: scroll;

  width: 20%;
  min-width: 200px;
  height: 200px;
  margin-left: 5%;

  color: white;
}

#fitness
{
  display: inline-block;
  overflow-y: scroll;

  width: 20%;
  min-width: 200px;
  height: 200px;
  margin-left: 5%;

  color: white;
}

#cache::-webkit-scrollbar,
#fitness::-webkit-scrollbar
{
  display: none;
}
